 body {
     background: rgb(122, 117, 117);
     transition: all 2s;
 }

 div {
     width: 500px;
     height: 500px;
     background: url('../images/ME1693478205299.gif');
 }

 .a {
     color: red;
 }